@page "/dashboard"
@using MyStockDashboard.Components
@using MyStockDashboard.Models
@using MudBlazor
@inject MyStockDashboard.Services.StockDataService StockDataService

<div class="stock-container">
    @foreach (var stock in StockPortfolio)
    {
    <div @key="stock">
        <StockChart Symbol="@stock" />
        <MudButton OnClick="() => RemoveStock(stock)"
                   Color="Color.Error"
                   Variant="Variant.Outlined"
                   Style="margin-top: 0.2rem;">
            Remove
        </MudButton>
    </div>
    }
</div>

@code {
    
    private List<string> StockPortfolio { get; set; } = new List<string>();
    
    protected override async Task OnInitializedAsync()
    {
        // Load the user's portfolio from the database.
        StockPortfolio = await StockDataService.GetUserPortfolioSymbolsAsync();
    }
    
    private async Task RemoveStock(string symbol)
    {
        StockPortfolio.Remove(symbol);
        await StockDataService.RemoveStockFromUserPortfolioAsync(symbol);
        StockPortfolio = await StockDataService.GetUserPortfolioSymbolsAsync();
        StateHasChanged();
    }
}